body {
  background-color: #EBEBEB;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background: #EBEBEB;
  border: none;
  border-radius: .5em;
  padding: .5em, 1em;
  min-width: 1em;
}

button:hover, li:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

h1 {
  color: #F1EFF0;
}

li {
  list-style: none;
  padding: 1em;
  margin: .5em;
}

textarea {
  width: 100%;
  height: 20em;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: none;
}

ul {
  padding: 3em;
}

.header {
  background-image: url("./img/sky.jpeg");
  background-size: 100%;
  background-position: 0em;
  height: 260px;
  min-width: 600px;
}

.logo {
  background-image: url("./img/CJPlogo.png");
  background-size: 18em;
  background-repeat: no-repeat;
  height: 11em;
}

.wrapper {
  margin: auto;
  padding: 3em;
  max-width: 960px;
}

.nav {
  color: #CCB982;
  font-weight: bold;
  font-size: 1.25em;
  margin-left: 1em;
  text-decoration: none;
}

.navactive {
  color: #EBEBEB;
  font-weight: bold;
  font-size: 1.25em;
  margin-left: 1em;
  text-decoration: none;
}
